/*canvas{
    border: 5px solid black;
}

h1{
    font-size: 2em;
}

img{
    display: inline-block;
    margin-top: 20px;
}
.center {
    margin: auto;
    padding: 10px;
}
section {
    margin: auto;
    padding: 10px;
}
div#one {
    float: left;
}
div#two {
    margin-top: 80px;
    margin-left: 5px;
    float: left;
}*/
.stage {  
    position: absolute; left: 50%;  top: 50%;  transform: translate3d( -50%, -50%, 0 );
    }